---
import { CONTACT_EMAIL, OWNER_NAME } from '../consts';

const today = new Date();
---

<footer>
	<p class="footnote">&copy; {today.getFullYear()} {OWNER_NAME}. All rights reserved.</p>
	<a class="footnote" href={`mailto:${CONTACT_EMAIL}`}>{CONTACT_EMAIL}</a>
</footer>
<style>
	footer {
		padding: 2.5em 1em 4em;
		background: #f8f9fb;
		color: rgb(var(--gray-dark));
		text-align: center;
		border-top: 1px solid rgba(var(--gray-light), 50%);
	}
	.footnote {
		display: block;
		margin: 0.25em 0;
		text-decoration: none;
		color: inherit;
		font-size: 0.95em;
	}
	a.footnote:hover {
		color: var(--accent);
	}
</style>
